/* 
NOTE: You can solve all three puzzles without
directly modifying these CSS properties
*/

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #333333;
    height: 100%;
}

.main-heading {
    /* position: absolute; */
    width: 100%;
    color: red;
    text-align: center;
}

.sub-heading {
    width: 100%;
    color: red;
    text-align: center;
}

.content-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.lock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lock-image {

    background-color: #333333;
    height: 300px;
    width: 300px;
}

.password-form {
    margin-top: 25px;
    margin-bottom: 10px;
}

.password-input {
    font-size: 18px;
}